.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--spider-blue);
    height: 10vh;
}

.footer h1 {
    font-size: clamp(20px, 2vw, 4vw);
    color: var(--spider-light);
}